
/* CONTENT */
#content{
    width:100%;
    text-align:center;
    padding-bottom:15px;
  }
  
  .contentArea{
    width:50%;
    text-align:justify;
    /*border-top:5px solid rgba(11, 134, 206, 0.747);*/
    border-radius:5px;
    display:inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.055), 0 3px 3px rgba(0,0,0,0.16);
  }
  
  .time{
    float:right;
    font-size:12px;
    color:rgb(11, 134, 206);
    font-weight:bolder;
  }
  
  .contentBanner h3{
    position:absolute;
    background-color:rgb(11, 134, 206);
    color:#fff;
    padding:5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.705);
  }
  
  .newsBanner{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:100%;
  }
  
  .avatar{
    width:30px;
    border:3px solid rgba(11, 134, 206, 0.473);
    border-radius:50%;
  }
  
  .contentHead{
    padding:3px 10px 0px 10px
  }
  .contentBody{
    padding:10px;
    color:#111111;
  }
  
  .contentBody h3{
    font-size:18px
  }
  .contentBody p{
    font-size:14px;
  }
  .contentEp{
    font-size:13px;
    font-weight: bolder;
    color:rgb(11, 134, 206);
  }
  
  .newsMore{
    display:none;
  }
  
  .moreIcon a{
    color:rgb(11, 134, 206);
    border-bottom:2px solid rgb(11, 134, 206);
    border-bottom-right-radius: 5px;
    border-right:2px solid rgb(11, 134, 206);
    float:right;
    font-weight: bolder;
    padding:15px;
    font-size:13px;
  }

  
@media (min-width:320px) and (max-width:680px){
  
    .contentBanner h3{
      font-size:13px;
    }
    #content{
      width:100%;
    }
  
    .contentArea{
      width:90%
    }
    .contentBody h3{
      font-size:14px;
    }
    .contentBody{
      font-size:11px;
    }
  
    #channel{
      width:100%;
    }
    
    .channelArea img{
      width:40%;
      border-radius:3px;
    }
  }
  