@font-face{
  font-family:'Raleway';
  src:url('Raleway/static/Raleway-Light.ttf');
}


body {
  margin: 0;
  padding:0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color:rgb(36, 36, 36);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color:rgb(36, 36, 36);
}

#header{
  width:100%;
  top:0;
  left:0;
  right:0;
  position: fixed;
  z-index:1;
  background-color:rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.055), 0 1px 1px rgba(0,0,0,0.16);
  color:rgb(11, 134, 206);
}

#header span{
  margin:4px 20px;
  cursor:pointer;
}
.logoIcon{
  display:block;
  float:left;
}

.menuIcon{
  padding-top:10px;
  display:block;
  float:right;
  font-size:20px;
}

.playerIcon{
  text-align:center;
}

#tag{
  width:100%;
  text-align:center;
  padding-top:30px;
}

#tag h3{
  font-size:18px;
  padding:10px;
  color:rgb(11, 134, 206);
  text-decoration:underline;
}

/* CONTENT */
#content{
  width:100%;
  text-align:center;
  padding-bottom:15px;
}

.contentArea{
  width:50%;
  text-align:justify;
  /*border-top:5px solid rgba(11, 134, 206, 0.747);*/
  border-radius:5px;
  display:inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.055), 0 3px 3px rgba(0,0,0,0.16);
}

.time{
  float:right;
  font-size:12px;
  color:rgb(11, 134, 206);
  font-weight:bolder;
}

.contentBanner h3{
  position:absolute;
  background-color:rgb(11, 134, 206);
  color:#fff;
  padding:5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.705);
}

.newsBanner{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width:100%;
}

.avatar{
  width:30px;
  border:3px solid rgba(11, 134, 206, 0.473);
  border-radius:50%;
}

.contentHead{
  padding:3px 10px 0px 10px
}
.contentBody{
  padding:10px;
  color:#111111;
}

.contentBody h3{
  font-size:18px
}
.contentBody p{
  font-size:14px;
}
.contentEp{
  font-size:13px;
  font-weight: bolder;
  color:rgb(11, 134, 206);
}

.newsMore{
  display:none;
}

.moreIcon a{
  color:rgb(11, 134, 206);
  border-bottom:2px solid rgb(11, 134, 206);
  border-bottom-right-radius: 5px;
  border-right:2px solid rgb(11, 134, 206);
  float:right;
  font-weight: bolder;
  padding:15px;
  font-size:13px;
}

#footer{
  display:none;
}

/*Channel*/

#channel{
  width:100%;
  text-align:center;
  padding-top: 50px;
}

.channelArea img{
  width:25%;
  border-radius:3px;
}

.channelArea h3{
  font-size:13px;
  color:rgb(11, 134, 206);
  font-weight:bolder;
}

.channelArea p{
  font-size:13px;
  font-weight:bolder;
}



@media (min-width:320px) and (max-width:680px){
  #header{
    position: fixed;
  }
  #header span{
    margin:1px 20px;
    cursor:pointer;
  }
  .logoIcon img{
    width:30px;
  }
  .menuIcon{
    font-size:12px;
  }

  .contentBanner h3{
    font-size:13px;
  }
  #content{
    width:100%;
  }

  .contentArea{
    width:90%
  }
  .contentBody h3{
    font-size:14px;
  }
  .contentBody{
    font-size:11px;
  }

  #channel{
    width:100%;
  }
  
  .channelArea img{
    width:40%;
    border-radius:3px;
  }
  
  
  #footer{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.705);
    background-color:#fff;
    color:rgb(11, 134, 206);
    display:inline-flex;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
  }

  .foot-nav-item{
    padding:6px 16px;
    width:100%;
    font-size:14px;
  }

  .foot-nav-item span{
    font-size:10px;
    font-weight:bold;
  }

}
